# Node modules
node_modules/

# Build output
dist/

# Angular cache
.angular/

# Environment files (si no quieres subir variables sensibles)
src/environments/environment*.ts

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# System specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
temp/
*.tmp
